
<form>
  <div>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author">
  </div>

  <div>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="title">
  </div>

  <div>
    <label for="content">Content:</label>
    <input type="text" id="content" name="content">
  </div>

  <footer>
    <button type="submit">Submit Author</button>
  </footer>
</form>